@import url('https://fonts.googleapis.com/css?family=Permanent+Marker|Roboto');

h1 {
	font-family: 'Permanent Marker', cursive;
	
}

.logo {
	display:block;
	width: 120px;
	margin: 10px auto;
}

.Shonen > a{
	color: red;
	font-family: 'Permanent Marker', cursive;
	font-size: 50px;
	padding: 50px 25px;

}

.Seinen >a{
	color: red;
	font-family: 'Permanent Marker', cursive;
	font-size: 50px;
	padding: 50px 25px;
}

.Kodomo >a{
	color: red;
	font-family: 'Permanent Marker', cursive;
	font-size: 50px;
	padding: 50px 25px;
}

.Shojo >a{
	color: red;
	font-family: 'Permanent Marker', cursive;
	font-size: 50px;
	padding: 50px 25px;
}

.show {
display: none;
}

.edit {
display: none;
}

.destroy {
display: none;
}

th {
 background-color: #b32400;
}